body {
  margin: 0;
}

/* Navbar */
.logo-txt {
  margin-left: 3px;
}

.navbar-brand{
  font-size: 1.5rem;
}

.nav-link {
  margin-left: 15px;
  padding-left: 0;
}

.nav-logo {
  width: 50px;
}

.section-title {
  margin-top: 200px;
  margin-bottom: 60px;
  color: #fff;
}

.dark-title {
  margin-top: 200px;
  padding-top: 10px;
  margin-bottom: 60px;
  text-align: center;
}

/* Background */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.shadow-box {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(30, 39, 49, 0.9);
  box-shadow: inset 00px 00px 1000px 7rem rgb(0 0 0 / 40%);
}

.home-section {
  position: absolute;
}

/* Title */
#title {
  text-align: center;
  color: #fff;
  padding: 0 16%;
  text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
}

.slide-logo {
  max-height: 65px;
  max-width: 200px;
  margin-top: 60px;
}

.title-container {
  margin-top: 22%;
}

.slide-txt {
  margin-top: 30px;
}

.big-heading {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-left: 10px;
}

.home-carousel {
  margin-top: 8%;
  height: 276px;
}

/* About */
#about {
  text-align: center;
  background-color: #fff;
  height: 600px;
  margin: 90px 0px;
}

.about-card {
  padding: 50px;
  max-width: 600px;
  margin: 0 auto;
}

.logo-img-container {
  margin: 30px;
}

.abt-img {
  font-size: 4rem;
}

/* Portfolio */

#portfolio {
  text-align: center;
  margin: 80px 16%;
}

.portfolio-card {
  margin: 10% auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  max-width: 300px;
  background-color: #e4fbff;
}

.ptf-logo {
  height: 65px;
  overflow: hidden;
}

.ptf-logo-box {
  height: 100%;
  width: 100%;
  padding: 20px 20px;
  background-color: #e4fbff;
}

.logo-img-top {
  max-width: 140px;
  max-height: 40px;
}

.effera-plogo {
  max-width: 200px;
  max-height: 40px;
}

.mgmt-box {
  overflow: hidden;
}

.mgmt {
  width: 100%;
}


.mgmt:hover {
  transform: scale(1.05);
}

.prtf-txt {
  font-size: .8rem;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 40px;
  margin-bottom: 20px;
}

.portfolio-info {
  color: #a3d2ca;
  background-color: inherit;
  border-color: #e4fbff;
  margin: 0 10px 10px;
}

.portfolio-info:hover {
  transform: scale(1.05);
}

/* News */
#news {
  background-color: #fff;
  height: 800px;
}

.twitter {
  width: 50%;
  overflow: hidden;
  padding: 10px;
  margin: 0 auto;
}

/* Team */
.ditlef-pic {
  border-radius: 50%;
  margin-bottom: 30px;
}


#team {
  text-align: center;
}

.team-heading {
  font-size: 1.5rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

.team-txt {
  padding: 0 16%;
  color: #fff;
  margin-bottom: 13%;
}


/* Contact */
#contact {
  background-color: #fff;
}

.home-map {
  margin: 0 auto;
}

.contact-form {
  padding: 0 30px;
}

.contact-btn {
  margin-bottom: 100px;
}


#footer {
  background-color: #fff;
}


@media (max-width: 1000px) {

  .nav-logo {
    width: 150px;
    margin-left: 20%;
  }

  .logo-txt {
    display: none;
  }

  .navbar-brand {
    margin: 0 auto;
  }

  .navbar {
    margin-bottom: 30%;
  }

  .navbar-nav {
    font-size: 2rem
  }


  #title {
    text-align: center;
  }

  #portfolio {
    text-align: center;
  }

  .big-heading {
    font-size: 4rem;
  }

  .slide-logo {
    max-height: 40%;
    max-width: 50%;
    margin: 30% auto;
  }

  .slide-txt {
    margin-top: 30px;
    font-size: 1.5rem;
  }

}
